{% extends './base.html' %}
{% load static %}

{% block container %}
<section>
    <div class="subTitWrap sb03">
        <div class="subTitBox">
            <h3>채용정보</h3>
            <p>careers information</p>
        </div>
    </div>
    <div class="subConWrap">
        <div class="cntWrap contMb">
            <h4 class="tit">여객</h4>
            <div class="PsgInfoWrap clear">
              <dl>
                <dt class="task">담당업무</dt>
                <dd>여객 운송 서비스<span>탑승수속 및 발권, 항공기 출 도착 서비스, 수하물 서비스</span></dd>
              </dl>
              <dl>
                <dt class="employ">고용형태</dt>
                <dd>신규 계약직 &amp; 경력직 채용<span>자세한 사항은 공고페이지 확인바랍니다</span></dd>
              </dl>
              <dl>
                <dt class="Qualification">자격조건</dt>
                <dd>대학 졸업 (2, 3년제 이상) 친절한 서비스 마인드 소지자</dd>
              </dl>
              <dl>
                <dt class="work">근무조건</dt>
                <dd>새벽 및 심야근무 가능자 / 희망근무지 출퇴근 가능자 신원결격사유 이상없는자</dd>
              </dl>
              <dl>
                <dt class="preferential">우대조건</dt>
                <dd>어학(중국어, 일어, 영어) 우수 가능자</dd>
              </dl>
            </div>
        </div>
        <div class="cntWrap contMb">
            <h4 class="tit">램프</h4>
            <div class="PsgInfoWrap clear">
              <dl>
                <dt class="task">담당업무</dt>
                <dd>항공 지상 조업 서비스<span>항공기 유도 및 견인, 항공기 수하물 상하역</span></dd>
              </dl>
              <dl>
                <dt class="employ">고용형태</dt>
                <dd>신규 계약직 &amp; 경력직 채용<span>자세한 사항은 공고페이지 확인바랍니다</span></dd>
              </dl>
              <dl>
                <dt class="Qualification">자격조건</dt>
                <dd>스케줄근무 가능자 / 희망근무지 출퇴근 가능자</dd>
              </dl>
              <dl>
                <dt class="work">근무조건</dt>
                <dd>새벽 및 심야근무 가능자 / 희망근무지 출퇴근 가능자 신원결격사유 이상없는자</dd>
              </dl>
              <dl>
                <dt class="preferential">우대조건</dt>
                <dd>1종대형면허 소지자</dd>
              </dl>
            </div>
        </div>
        <div class="cntWrap">
            <h4 class="tit">장비 정비</h4>
            <div class="PsgInfoWrap clear">
              <dl>
                <dt class="task">담당업무</dt>
                <dd>항공기 급유 서비스<span>항공기 급유작업</span></dd>
              </dl>
              <dl>
                <dt class="employ">고용형태</dt>
                <dd>신규 계약직 &amp; 경력직 채용<span>자세한 사항은 공고페이지 확인바랍니다</span></dd>
              </dl>
              <dl>
                <dt class="Qualification">자격조건</dt>
                <dd>스케줄근무 가능자 / 희망근무지 출퇴근 가능자</dd>
              </dl>
              <dl>
                <dt class="work">근무조건</dt>
                <dd>새벽 및 심야근무 가능자 / 희망근무지 출퇴근 가능자 신원결격사유 이상없는자</dd>
              </dl>
              <dl>
                <dt class="preferential">우대조건</dt>
                <dd>준비중</dd>
              </dl>
            </div>
        </div>
    </div>
</section>

{% endblock container %}