{% extends './base.html' %}
{% load static %}
{% block container %}
		<section>
		  <div class="subTitWrap sb01">
			<div class="subTitBox">
			  <h3>대표 인사말</h3>
			  <p>CEO’S MESSAGE</p>
			</div>
		  </div>
		  <div class="subConWrap">
			<div class="cntWrap contMb">
			  <div class="ceoWrap">
				<div class="textBox">
				  <span class="exTit">제이에이에스는 안전을 최우선으로</span>
				  <strong class="titStr pc">최고의 조업서비스를 항공사에 제공하며<br>항공서비스의 가치를 최상으로 여깁니다</strong>
				  <strong class="titStr mo">최고의 조업서비스를<br>항공사에 제공하며 항공서비스의<br>가치를 최상으로 여깁니다</strong>
				  <div class="ceoImg">
					<dl>
					  <dt>제이에이에스 대표</dt>
					  <dd>장우영</dd>
					</dl>
				  </div>
				</div>
			  </div>
			</div>
			<div class="cntWrap">
			  <p>
				안녕하십니까 제이에이에스 대표이사 장우영입니다.<br>
				애경그룹 기업이념인 사랑(愛)과 존경(敬)을 기반으로 제이에이에스는 제주항공 자회사로 2018년 설립되어 더 넓은 하늘을 향한 도전으로 개인과 회사가 동반 성장할 수 있는 원동력을 목표로 여러분들의 지속적인 관심과 참여를 바랍니다.<br>
				늘 가정에 행복이 가득하시길 기원합니다.<br>
				<br>
				감사합니다.
			  </p>
			</div>
		  </div>
		</section>
	{% endblock container %}
	