{% extends './base.html' %}
{% load static %}

{% block container %}
<section>
  <div class="subTitWrap sb01">
    <div class="subTitBox">
      <h3>CI</h3>
      <p>JAS/애경그룹</p>
    </div>
  </div>
  <div class="subConWrap">
    <div class="cntWrap contMb">
      <h4 class="tit">CI - 애경</h4>
      <div class="ciWrap ciAk">애경로고</div>
    </div>
    <div class="cntWrap contMb">
      <h4 class="tit">CI - JAS</h4>
      <div class="ciWrap">
        <ul class="jasCi clear">
          <li class="ciJas01">JAS 로고01</li>
         <li class="ciJas02">JAS 로고02</li>
          <li class="ciJas03">JAS 로고03</li>
        </ul>
      </div>
    </div>
    <div class="cntWrap contMb2">
      <h4 class="tit">WORDMARK(국문)</h4>
      <div class="ciWrap ciWm">JAS 워드마크</div>
    </div>
    <div class="cntWrap contMb2">
      <h4 class="tit">WORDMARK(영문)</h4>
      <div class="ciWrap ciWm1">JAS 워드마크</div>
    </div>
    <div class="cntWrap">
      <p>
        JAS의 로고타입은 통합과 신뢰감을 주는 워드마크 형태로 개발되었습니다.<br>
        통합 항공서버스를 강조하는 항공기와 A 를 결합하여 직원들에게는 세계로 뻗어나가는 진취적인 의미를, 고객들에게는 보다 전문적인 항공 서비스의 의미를 표현 하고 있습니다.
        균일적이고 묵직한 글자의 형태는 책임감과 안정성을 상징합니다.<br>
        제주항공 오렌지 컬러와 신뢰감을 주는 블루컬러의 조화로 제주항공의 자회사의 이념을 담았습니다.<br>
      </p><br>
    </div>
  </div>
</section>


{% endblock container %}