{% extends './base.html' %}
{% load static %}
 
{% block container %}
    <section>
      <div class="subTitWrap sb01">
        <div class="subTitBox">
          <h3>기업개요</h3>
          <p>Corporate Overview</p>
        </div>
      </div>

      <div class="subConWrap">
        <div class="fullWrap infoConWrap clear contMb2">
          <div class="infoImg"></div>
          <div class="infoConBox">
            <div class="sloganWrap">
              <p class="slogan">안전을 최우선 가치로 생각하는 사람들<span>우리는<i>JAS</i>입니다</span></p>
            </div>
            <div class="launchBox clear">
              <div class="iBox"></div>
              <p>2018.01.31<i></i>출범</p>
            </div>
          </div>
        </div>
        <div class="cntWrap">
          <strong class="titStr">최고의 항공 지상조업 서비스</strong>
          <p>
            LCC 최초 종합지상조업 자회사로 출범한 JAS(제주에어서비스)는<br>
            최상의 지상조업서비스를 통하여 항공기의 안정적인 운항환경을 지원합니다.<br><br>
            항공기 탑승수속, 발권, 출/도착 등 여객운송서비스와 항공기 지상운용, 수하물 처리 등 지상램프서비스를 제공함에 있어 안전하고 쾌적한 비행을 위한 지상 조업서비스를 실현하고 있습니다.<br>
            앞으로도 JAS는 지속적인 혁신과 도전을 통해 항공이용의 최고의 파트너이자 가치를 높이는 서비스를 제공하겠습니다.
          </p>
        </div>
      
      

          <div class="box post">
            <h4 class="tita">연혁</h4>
            <div class="image featured"><img src="{% static 'main/images/date_year.jpg' %}" alt="" /></div>
          </div>
        </div>
        

    </section>

{% endblock container %}