{% extends './base.html' %}
{% load static %}

{% block container %}

<section>
  <div class="subTitWrap sb01">
    <div class="subTitBox">
      <h3>ERROR</h3>
    </div>
  </div>

  <div class="subConWrap">
    <div class="cntWrap contMb">
      <div class="clear">
        <h4 class="tit">Page cannot be found in this website.</h4>
        <h4 class="tit">요청하신 페이지를 찾을 수 없습니다.</h4>
        <h4 class="tit">지속적으로 발생 할 경우 담당자에게 연락바랍니다.<br><br>
          (운영본부 이건우 과장 - gwlee@aekyung.kr - 070-4352-1057)</h4>
      </div>
    </div>
  </div>

</section>

{% endblock container %}