{% extends './base.html' %}
{% load static %}

{% block container %}
<section>
    <div class="subTitWrap sb04">
      <div class="subTitBox">
        <h3>자주하는 질문</h3>
        <p>FAQ</p>
      </div>
    </div>
    <div class="subConWrap">
      <div class="cntWrap">
          <div class="faq-list">
            <div class="faq-q">
                <p class="faqTit">지원서에 이력한 경력기재사항이 인정이 되나요?</p>
            </div>
            <div class="faq-a">
              <p class="faqCon">지상조업(RAMP)과 여객서비스의 경력인정부분은, 단절기간 없이 동종업계 1년 이상인 경우에만 (교육생,인턴 및 실습기간제외) 해당됩니다. 기술하신 경력사항은 반드시 서면으로 증빙하여야 되므로 이 점 유의하시기 바랍니다.</p>
            </div>
            <div class="faq-q">
                  <p class="faqTit">최종합격 확인은 어떻게 하나요?</p>
            </div>
            <div class="faq-a">
                <p class="faqCon">개인 이메일로 발송되니 지원서 작성시, E-MAIL 기재에 주의하시기 바랍니다</p>
            </div>
            <div class="faq-q">
                  <p class="faqTit">채용공고 게시 및 지원서 작성에 대해 궁금합니다</p>
            </div>
            <div class="faq-a"> 
                <p class="faqCon">당사는 채용시 채용공고사이트를 활용하고 있으며, 채용일정시 공고내용 확인하시어 반드시 자사 이력서 양식을 다운로드 하여 작성 부탁드립니다<span>&#8251; 해당 SITE 채용공고 페이지란에 링크를 클릭하시면 채용공고 사이트로 접속 가능합니다.</span></p>
            </div>
            <div class="faq-q">
                  <p class="faqTit">채용시 근무지 문의</p>
            </div>
            <div class="faq-a">
              <p class="faqCon">자사 이력서 양식 상 희망근무지 기재란에 반드시 근무지 기입을 정확히 기재하여 주시기 바랍니다. (중복기재 불가) 여객서비스 및 램프 지원부분은, 심야 및 조출이 가능하여야 하므로 희망근무지로 출퇴근 가능여부에 대해 고려하여 신중히 기재해주시기 바랍니다.</p>
            </div>
       </div>

      </div>
    </div>
  </section>

{% endblock container %}