{% extends './base.html' %}
{% load static %}

{% block container %}
<section>
    <div class="subTitWrap sb02">
      <div class="subTitBox">
        <h3>항공기 급유</h3>
        <p>AIRCRAFT FUELING SERVICES</p>
      </div>
    </div>
    <div class="subConWrap">
      <div class="cntWrap busi">
        <strong class="titStr">안전한 항공기 연료 공급, JAS가 시작합니다.</strong>
        <p class="busiTxt">JAS는 김포국제공항을 시작으로 저유소 하이드랜트 시설에서<br>
        최신 급유장비를 사용하여 항공기에 공급하는 업무를 수행하고 있습니다.</p>
        <div class="svcWrap clear">
          <div class="svcBox">
              <div class="svcImg fuel1" title="연료공급">항공기 연료공급</div>
              <div class="svcTxt">
                  <h2>Aircraft Fueling</h2>
                  항공기 연료공급
              </div>
          </div>
          <div class="svcBox">
            <div class="svcImg fuel2" title="연료공급">준비중</div>
            <div class="svcTxt">
                <h2>Global Operation</h2>
                IATA JIG 매뉴얼을 적용한 안전한 급유조업 수행
            </div>
          </div>
          <div class="svcBox">
            <div class="svcImg fuel3" title="연료공급">항공기 연료공급</div>
            <div class="svcTxt">
                <h2>Visual Check</h2>
                연료 공급 전/중/후 위험요소 체크
            </div>
        </div>
        <div class="svcBox">
          <div class="svcImg fuel4" title="연료공급">교육훈련</div>
          <div class="svcTxt">
              <h2>Training</h2>
              교육훈련
          </div>
      </div>
        </div><!--svcWrap-->
      </div>
    </div>
  </section>

{% endblock container %}