{% extends './base.html' %}
{% load static %}

{% block container %}
<section>
    <div class="subTitWrap sb02">
      <div class="subTitBox">
        <h3>장비정비</h3>
        <p>GSE MAINTENANCE SERVICES</p>
      </div>
    </div>
    <div class="subConWrap">
      <div class="cntWrap busi">
        <strong class="titStr">최상의 유지관리 서비스를 제공합니다</strong>
        <p class="busiTxt">JAS의 장비정비서비스는 항공기의 지상조업운용시 조업절차에 필요한 장비 및 차량을 최상의 상태로 유지관리하는 서비스를 제공합니다.</p>
        <div class="svcWrap clear">
          <div class="svcBox">
              <div class="svcImg gse1" title="대형장비 특수정비">대형장비 특수정비</div>
              <div class="svcTxt">
                  <h2>SPECIAL MAINTENANCE</h2>
                  대형장비 특수정비
              </div>
          </div>
          <div class="svcBox">
              <div class="svcImg gse2" title="조업현장 긴급점검">조업현장 긴급점검</div>
              <div class="svcTxt">
                  <h2>EMERGENCY INSPECTION</h2>
                  조업현장 긴급점검
              </div>
          </div>
          <div class="svcBox">
              <div class="svcImg gse3" title="조업장비 예방점검">조업장비 예방점검</div>
              <div class="svcTxt">
                  <h2>PREVENTIVE INSPECTION</h2>
                  조업장비 예방점검
              </div>
          </div>
          <div class="svcBox">
              <div class="svcImg gse4" title="주기적인 정밀 유지보수">주기적인 정밀 유지보수</div>
              <div class="svcTxt">
                  <h2>PRECISION MAINTENANCE</h2>
                  주기적인 정밀 유지보수
              </div>
          </div>
        </div><!--svcWrap-->
      </div>
    </div>
  </section>

{% endblock container %}