{% extends './base.html' %}
{% load static %}

{% block container %}
<section>
    <div class="subTitWrap sb03">
        <div class="subTitBox">
            <h3>채용절차 및 복리후생</h3>
            <p>Recruitment procedures and benefits</p>
        </div>
    </div>
    <div class="subConWrap">
        <div class="cntWrap contMb">
            <h4 class="tit">채용절차</h4>
            <ul class="hireStepWrap clear">
              <li>서류전형</li>
              <li>임원/실무 면접전형</li>
              <li>채용검진</li>
              <li>최종합격자 발표</li>
            </ul>
        </div>
        <div class="cntWrap contMb">
            <h4 class="tit">유의사항</h4>
            <ul class="noticeWrap">
              <li>취업보호대상자 및 보훈대상자 장애인은 관련법에 의거 우대합니다.<br><span class="notEm">공항 출입증 발급에 따른 신원조회 결격사유가 없어야 합니다.</span></li>
              <li><span class="notEm">당사는 채용절차 공정화에 관한 법률에 의거, 온라인으로 채용서류 접수 부분에 대하여 채용여부가 확정된 이후 지체없이 (5일이내) 파기를 원칙으로 하고 있습니다.</span></li>
            </ul>
        </div>
        <div class="fullWrap bftWrap">
          <div class="cntWrap">
            <h4 class="tit">복리후생</h4>
            <div class="bftConWrap clear">
              <dl>
                <dt>급여제도</dt>
                <dd>퇴직금, 야근/직책수당 자격수당(RAMP), 어학수당(여객)</dd>
              </dl>
              <dl>
                <dt>Refresh</dt>
                <dd>Refresh Point (제주항공 항공권이용)</dd>
              </dl>
              <dl>
                <dt>조직문화</dt>
                <dd>노사협의회, 님 문화제도</dd>
              </dl>
              <dl>
                <dt>근무환경</dt>
                <dd>휴게실, 유니폼/사원증 지급 애경그룹사 제품할인 및 혜택</dd>
              </dl>
              <dl>
                <dt>지원금</dt>
                <dd>사안별 경조금지원 건강검진</dd>
              </dl>
              <dl>
                <dt>출퇴근</dt>
                <dd>심야교통비 지원</dd>
              </dl>
              <dl>
                <dt>교육/생활</dt>
                <dd>워크샵, 간식제공(혹한기/혹서기), 식비지원 (식권대장 APP활용)</dd>
              </dl>
              <dl>
                <dt>선물</dt>
                <dd>명절선물, 창립기념일 선물, 출산선물</dd>
              </dl>
            </div>
          </div>
        </div>
    </div>
</section>

{% endblock container %}