{% extends './base.html' %}
{% load static %}

{% block container %}
<section>
  <div class="subTitWrap sb01">
    <div class="subTitBox">
      <h3>이념 &amp; 비전</h3>
      <p>IDEOLOGY &amp; VISION</p>
    </div>
  </div>
  <div class="subConWrap">
    <div class="cntWrap contMb">
      <h4 class="tit">이념</h4>
      <ul class="ideoWrap clear">
        <li><i></i>조업안정화 및 조업품질 향상</li>
        <li><i></i>성장동력 발굴 및 수익구조 합리화</li>
        <li><i></i>신속한 의사결정과 효율적인 조직체계 운영</li>
        <li><i></i>주요이슈예방 및 리스크 최소화</li>
        <li><i></i>수평적 조직문화 구축 및 인재육성</li>
      </ul>
    </div>
    <div class="fullWrap missionWrap contMb">
      <div class="cntWrap">
        <h4 class="tit">MISSION</h4>
        <p class="missionTxt">안전을 최우선 가치로 <em>최고의 조업서비스</em>를 항공사에 제공하여,<br>안정된 <em>최상의 조업서비스</em>를 제공한다.</p>
      </div>
    </div>
    <div class="cntWrap">
      <h4 class="tit">VISION</h4>
      <div class="visionWrap">
        <ul class="visionCon clear">
          <li><span>01</span>항상 밝은 웃음과<br>친절함으로<br>고객감동을 실천한다</li>
          <li><span>02</span>최상의 조업품질로<br>고객사 만족을<br>실현한다</li>
          <li><span>03</span>고객만족을 통하여<br>직원과 함께<br>동반성장 한다</li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock container %}