{% extends './base.html' %}
{% load static %}

{% block container %}
<section>
    <div class="subTitWrap sb03">
        <div class="subTitBox">
            <h3>채용공고</h3>
            <p>CAREERS ANNOUNCEMENT</p>
        </div>
    </div>
    <div class="subConWrap">
        <div class="cntWrap contMb2">
            <h4 class="tit">정기채용</h4>
            <p class="exSub">인력 운용 계획에 의하여 전 지점 공동으로 참여하는 <span>분기별</span> 정기채용을 실시합니다.</p>
        </div>
        <div class="cntWrap contMb2">
            <h4 class="tit">수시채용</h4>
            <p class="exSub">수시채용 : JAS는 정기채용 외 운영필요에 따라 지점별 수시채용을 실시합니다.</p>
        </div>
        <div class="cntWrap btnWrap clear">
            <a href="mailto:recruit_jas@aekyung.kr" target="_top" class="btn" title="채용담당자에게 메일보내기">메일문의</a>
            <a href="http://www.saramin.co.kr/zf_user/company-info/view?csn=3018145573" target="_blank" class="btn" title="채용공고 보러가기">채용공고 보러가기</a>
        </div>
    </div>
</section>

{% endblock container %}