{% extends './base.html' %}
{% load static %}

{% block container %}
<section>
  <div class="subTitWrap sb05">
    <div class="subTitBox">
      <h3>조업통제시스템</h3>
      <p>JAScon</p>
    </div>
  </div>
  <div class="subConWrap">
    <div class="cntWrap busi">
      <strong class="titStr">조업현황 관리를 위한 자체 시스템 운영</strong>
      <p class="busiTxt">현장의 실시간 조업 현황 및 인원정보를 기반으로 하는 독자적인 조업통제시스템을 구축하여 체계적으로 관리하고 있습니다.</p>
      <div class="svcWrap clear">
        <div class="svcBox">
            <div class="svcImg jsc1" title="">TEST1</div>
            <div class="svcTxt">
                <h2>운항스케줄 현황 관리</h2>
            </div>
        </div>
        <div class="svcBox">
            <div class="svcImg jsc2" title="">TEST2</div>
            <div class="svcTxt">
                <h2>주기장 현황 관리</h2>
            </div>
        </div>
        <div class="svcBox">
          <div class="svcImg jsc3" title="">TEST3</div>
          <div class="svcTxt">
              <h2>조업현황 전체관리</h2>
          </div>
      </div>
      <div class="svcBox">
        <div class="svcImg jsc4" title="">TEST4</div>
        <div class="svcTxt">
            <h2>시스템 현장 운용</h2>
        </div>
    </div>
      </div>
    </div>
  </div>
</section>

{% endblock container %}