{% extends './base.html' %}
{% load static %}

{% block container %}
<section>
  <div class="subTitWrap sb02">
    <div class="subTitBox">
      <h3>여객 운송 서비스</h3>
      <p>PASSENGER SERVICE</p>
    </div>
  </div>
  <div class="subConWrap">
    <div class="cntWrap busi">
      <strong class="titStr">JAS의 여객서비스는 고객의 첫 여정과 함께 시작됩니다</strong>
      <p class="busiTxt">발권과 수속서비스, 신속한 비정상상황대응 및 승객처리 등 고객에게 수준 높은 여객서비스를 제공하고 있습니다.</p>
      <div class="svcWrap clear">
        <div class="svcBox">
            <div class="svcImg psg1" title="체크인 서비스">체크인 서비스</div>
            <div class="svcTxt">
                <h2>CHECK-IN SERVICE</h2>
                체크인 서비스
            </div>
        </div>
        <div class="svcBox">
            <div class="svcImg psg2" title="수하물 서비스">수하물 서비스</div>
            <div class="svcTxt">
                <h2>BAGGAGE ACCEPT</h2>
                수하물 서비스
            </div>
        </div>
        <div class="svcBox">
            <div class="svcImg psg3" title="서류확인">서류확인</div>
            <div class="svcTxt">
                <h2>DOCUMENT CHECK</h2>
                서류확인
            </div>
        </div>
        <div class="svcBox">
            <div class="svcImg psg4" title="셀프 체크인 서비스">셀프 체크인 서비스</div>
            <div class="svcTxt">
                <h2>KIOSK SERVICE</h2>
                셀프 체크인 서비스
            </div>
        </div>
        <div class="svcBox">
            <div class="svcImg psg5" title="탑승 안내 서비스">탑승 안내 서비스</div>
            <div class="svcTxt">
                <h2>BOARDING SERVICE</h2>
                탑승 안내 서비스
            </div>
        </div>
        <div class="svcBox">
            <div class="svcImg psg6" title="탑승객 보조 서비스">탑승객 보조 서비스</div>
            <div class="svcTxt">
                <h2>PASSENGER ASSIST</h2>
                탑승객 보조 서비스
            </div>
        </div>
      </div><!--svcWrap-->
    </div>
  </div>
</section>

{% endblock container %}