{% extends './base.html' %}
{% load static %}

{% block container %}
<section>
    <div class="subTitWrap sb03">
      <div class="subTitBox">
        <h3>인사제도</h3>
        <p>PERSONNEL SYSTEM</p>
      </div>
    </div>
    <div class="subConWrap">
      <div class="cntWrap contMb">
        <h4 class="tit">인사원칙</h4>
        <div class="clear">
           <div class="psSyBox clear">
              <div class="psSyImg psSy01">인사원칙 01</div>
              <div class="psSyTxtBox">
                  <p class="psSyNo">01</p>
                  <p class="psSyTxt">우리는<br><span>높은 품질기준에</span> 부합하는 구성원을 원한다</p>
              </div>
           </div><!--psSyBox-->
           <div class="psSyBox clear">
              <div class="psSyImg psSy02">인사원칙 02</div>
              <div class="psSyTxtBox">
                  <p class="psSyNo">02</p>
                  <p class="psSyTxt">우리는<br> <span>개인의 유능함</span>에 더하여 함께 육성됨을 택한다</p>
              </div>
           </div><!--psSyBox-->
           <div class="psSyBox clear">
              <div class="psSyImg psSy03">인사원칙 03</div>
              <div class="psSyTxtBox">
                  <p class="psSyNo">03</p>
                  <p class="psSyTxt">우리는<br> 구성원이 적극적으로 보호되고 <span>최고로 대우</span> 받는 것을 지향한다</p>
              </div>
           </div><!--psSyBox-->
           <div class="psSyBox clear">
              <div class="psSyImg psSy04">인사원칙 04</div>
              <div class="psSyTxtBox">
                  <p class="psSyNo">04</p>
                  <p class="psSyTxt">우리는<br> 스스로에게도, 고객사에도 <span>부끄럽지 않게 당당하다</span></p>
              </div>
           </div><!--psSyBox-->
        </div><!--psSyWrap-->
      </div>
    </div>
  </section>

{% endblock container %}