{% extends './base.html' %}
{% load static %}

{% block container %}
<section>
    <div class="subTitWrap sb02">
      <div class="subTitBox">
        <h3>램프 조업 서비스</h3>
        <p>RAMP SERVICE</p>
      </div>
    </div>
    <div class="subConWrap">
      <div class="cntWrap busi">
        <strong class="titStr">최고의 품질로 서비스를 제공하고 있습니다</strong>
        <p class="busiTxt">JAS의 램프서비스는 항공기의 안정적인 운항 환경 구축 및 지적확인 습관화로 안전을 최우선시하며, 항공기 유도, 화물탑재, 손님 탑승, 수하물 탑재, 강설시 제설작업 등 최고의 품질로 서비스를 제공하고 있습니다.</p>
        <div class="svcWrap clear">
          <div class="svcBox">
              <div class="svcImg rmp1" title="항공기 유도">항공기 유도</div>
              <div class="svcTxt">
                  <h2>AIRCRAFT MARSHALLING</h2>
                  항공기 유도
              </div>
          </div>
          <div class="svcBox">
              <div class="svcImg rmp2" title="항공기 견인">항공기 견인</div>
              <div class="svcTxt">
                  <h2>PUSH BACK / TOWING</h2>
                  항공기 견인
              </div>
          </div>
          <div class="svcBox">
              <div class="svcImg rmp4" title="수하물 상&middot;하역">수하물 상&middot;하역</div>
              <div class="svcTxt">
                  <h2>BAGGAGE LOADING</h2>
                  수하물 상&middot;하역
              </div>
          </div>
          <div class="svcBox">
              <div class="svcImg rmp5" title="제방빙">제방빙</div>
              <div class="svcTxt">
                  <h2>DE-ICING</h2>
                  제방빙
              </div>
          </div>
          <div class="svcBox">
              <div class="svcImg rmp6" title="기내 오수 처리">오물 수거 / 물 공급</div>
              <div class="svcTxt">
                  <h2>LAVATORY / WATER</h2>
                  오물 수거 / 물 공급
              </div>
          </div>
          <div class="svcBox">
              <div class="svcImg rmp7" title="탑승객&승무원 버스">탑승객&amp;승무원 버스</div>
              <div class="svcTxt">
                  <h2>PASSENGER&amp;CREW BUS</h2>
                  탑승객&amp;승무원 버스
              </div>
          </div>
          <div class="svcBox">
            <div class="svcImg rmp8" title="전원공급">전원공급 / 시동 / 냉난방</div>
            <div class="svcTxt">
                <h2>GPU / ASU / ACU</h2>
                전원공급 / 시동 / 냉난방
            </div>
          </div>
          <div class="svcBox">
            <div class="svcImg rmp9" title="승하기 지원">승하기 지원</div>
            <div class="svcTxt">
                <h2>STEP CAR / MANUAL STEP</h2>
                탑승/하기 장비 지원
            </div>
          </div>
        </div><!--svcWrap-->
      </div>
    </div>
  </section>

{% endblock container %}