{% extends './base.html' %}
{% load static %}

{% block container %}
<section>
  <div class="subTitWrap sb05">
    <div class="subTitBox">
      <h3>안전지킴이</h3>
      <p>SAFETY GUARD</p>
    </div>
  </div>
  <div class="subConWrap">
    <div class="cntWrap busi">
      <strong class="titStr">안전성 확보의 노력!</strong>
      <p class="busiTxt">안전한 조업환경을 위하여 안전순찰을 강화해나가고 있습니다.</p>
      <div class="svcWrap clear">
        <div class="svcBox">
            <div class="svcImg safe1" title="">TEST1</div>
            <div class="svcTxt">
                <h2>testtest</h2>
                testtesttest
            </div>
        </div>
        <div class="svcBox">
            <div class="svcImg safe2" title="">TEST2</div>
            <div class="svcTxt">
                <h2>testtest</h2>
                testtesttest
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock container %}